*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  background-size: 100% 100%;
  width: 100%;
  background-image: url("https://img.freepik.com/fotos-premium/campos-de-milho-tema-fotografico-de-agricultura-pequenas-plantas-de-milho_2379-276.jpg?w=2000");

}
input{
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 px;
  margin-bottom: 5px;
  font-size: 7px;
  color: #333;
}

form{
  width: 175px;
  position: absolute;
  top: 40%;
  left: 40%;
  margin: -25px 0 0 -25px;
  backdrop-filter: blur(1px);  
  

}

button{
  float: initial;
  width: 50%;
  border: 1px solid rgb(255, 89, 0);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 7px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 89, 0);
  cursor: pointer;
  transition: 0.2s;
  z-index: 4;
}

.login{
  width: 100%;
  backdrop-filter: blur(1px); 
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

h2{
  color:rgb(255, 255, 255);;
  font-size: 15px;
  margin-bottom: 10px;
}